@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #9FC131, #DBF227);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #042940;
    text-align: center;
    text-shadow: 1px 1px 0px #042940;
}

p {
    text-align: justify;
}