@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}

thead, tfoot {
    background-color: gray;
    color: white;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
} /* Pode ser usado no lugar de 2n odd(ímpar) ou even(par) */

tbody > tr:hover {
    background-color: gray;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}