@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 1000px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
}

tr:hover {
    background-color: lightgray;
}

div#container {
    overflow-x: auto;
}