@charset "UTF-8";

body {
    font-family:Arial, Helvetica, sans-serif;
    
    background-image: url('sidney\ negocios.png');
    background-size: 10%;
    background-repeat: repeat;
    background-attachment: fixed;
    /* 
    Shorthand - Background
    color > image > position > repeat > [size] > attachment
    */
}

.quadrado {
    display: block;
    border-radius: 10px;
    background-color: aqua;
    border: 2px solid black;
    height: 300px;
    margin: 10px;
}

div#q1 {
    background-image: url('Eneas.jpg');
    background-size: 100%;
    background-position: left top;
}

div#q2 {
    background-image: url('Eneas.jpg');
    background-size: 100%;
    background-position: center center;
}

div#q3 {
    background-image: url('Eneas.jpg');
    background-size: 100%;
    background-position: right bottom;
}